.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.wrapper>div>img {
    height: 15rem;
}


.wrapper .carousel-img {
    margin-top: 6rem;
    height: 17rem;
    width: 12.5rem;
    opacity: 0.6;
}
.wrapper .carousel-control-prev>span.carousel-control-prev-icon {
    display: none;
}
.wrapper .carousel-control-next>span.carousel-control-next-icon {
    display: none;
}
.wrapper div.carousel-indicators {
    display: none;
}