@font-face {
    font-family: JuThin;
    src: url(../fonts/Ju/JuPlusLight-519yx.otf);
}

.footer-block {
    box-shadow: 0 -8px 15px 1px rgba(203, 196, 196, 0.5);
    color: rgb(121, 119, 119);
    font-family: JuThin;
    text-shadow: .4px .4px .8px rgb(137, 136, 136);
}

.footer-block .container > p {
    padding-top: 1rem;
}




