


.home-text {
    text-align: center;
    font-family: Ju;
    font-size: 7.5rem;
    letter-spacing: .002em;
    line-height: 92%;
    color: rgb(56, 54, 54);
    text-shadow: 2px 2px 4px rgb(84, 83, 83);
}

.home-text>span {
    font-family: Montepetrum;
    font-size: 9rem;
}

.text-block-small {
    margin-top: 1.2rem;
    line-height: 92%;
    text-align: right;
    font-family: Montepetrum;
    font-size: 2.3rem;
}