.logo {
    margin-right: 7rem;
    font-family: Ju;
    font-size: 10rem;
    color: rgb(56, 54, 54);
    text-shadow: 3px 3px 5px rgb(84, 83, 83);
    line-height: 70%;
}

.ledenova-art-block {
    width: 100%;
}

.ledenova-art-block>div>img {
    height: 17rem;
}

