@font-face {
    font-family: Montepetrum;
    src: url(../fonts/Montepetrum/MontepetrumBold-Yy64.ttf);
}

@font-face {
    font-family: Ju;
    src: url(../fonts/Ju/JuPlusMedium-ywyYq.otf);
}

@font-face {
    font-family: JuThin;
    src: url(../fonts/Ju/JuPlusLight-519yx.otf);
}

.row {
    justify-content: center;
}






