.start-page {
    margin-top: 2rem;
}
.logo {
    font-family: Ju;
    font-size: 10rem;
    color: rgb(56, 54, 54);
    text-shadow: 3px 3px 5px rgb(84, 83, 83);
    line-height: 70%;
}


.ledenova-art-block> .first-page-carousel >img {
    height: 17rem;
}

