@font-face {
    font-family: Ananda;
    src: url(../fonts/Ananda/Ananda-eL1n.ttf);
}
@font-face {
    font-family: Bonalista;
    src: url(../fonts/Bonalista/Bonalista-MVjWv.otf);
}

@font-face {
    font-family: Montepetrum;
    src: url(../fonts/Montepetrum/MontepetrumBold-Yy64.ttf);
}

@font-face {
    font-family: Swansea;
    src: url(../fonts/Swansea/Swansea-q3pd.ttf);
}


.home-container{
    width: 100%;
    margin-top: 3.5rem;
}

.home-carousel{
    height: 30rem;
    box-shadow: 0px 0px 30px 8px rgb(206, 206, 206);
    border-radius: .5rem;
    width: 23rem;
    background: rgb(249, 247, 247);
}
.carousel-img {
    border-radius: .5rem;
    height: 30rem;
    width: 23rem;
}

.carousel-indicators > button {
    border: 1px solid rgb(93, 90, 90);
    width: 3rem;
    height: .5rem;
    margin-bottom: 1rem;
}

.carousel-indicators .active {
    background: rgb(150, 150, 150);
}

a.carousel-control-next > span.visually-hidden {
    display: none;
}

a.carousel-control-prev > span.visually-hidden {
    display: none;
}

a.carousel-control-next>span.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 fill=%27%23696969%27 width=%278%27 height=%278%27 viewBox=%270 0 8 8%27%3e%3cpath d=%27M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z%27/%3e%3c/svg%3e");
}

a.carousel-control-prev>span.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 fill=%27%23696969%27 width=%278%27 height=%278%27 viewBox=%270 0 8 8%27%3e%3cpath d=%27M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z%27/%3e%3c/svg%3e");
}

.home-text {
    text-align: center;
    font-family: Swansea;
    font-size: 7.5rem;
    letter-spacing: .002em;
    line-height: 92%;
    color: rgb(56, 54, 54);
    text-shadow: 2px 2px 4px rgb(84, 83, 83);
}

.home-text > span {
    font-family: Montepetrum;
    font-size: 9rem;
}
.text-block-small{
    margin-top: 1.2rem;
    line-height: 92%;
    text-align: right;
    font-family: Montepetrum;
    font-size: 2.3rem;
}